.main {
	/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=113e00&c2=09071a&gt=r&gd=dtt
*/
	background: #113E00;
	background: radial-gradient(at center top, #113E00 0%, #09071A 73%);
	height: 100vh;
}

.wrapper {}