.main {
	background-color: #090619;
	color: #ffffff;
	height: 52px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #555555;
}

.wrapper {
	margin: 0 auto;
	max-width: 100%;
	width: 1100px;
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 180px;
	height: 46px;
}

.texts {
	display: flex;
	align-items: center;

	.links {
		font-family: "Raleway", sans-serif;
		font-weight: bold;
		font-style: normal;
		font-size: 15px;
		text-decoration: none;
		text-transform: capitalize;
		transition: .3s all;
		color: #ffffff;

		&:first-child {
			margin-right: 29px;
		}

		&:hover {
			color: #42DF0C;
		}
	}

	.button {
		font-family: "Raleway", sans-serif;
		text-transform: capitalize;
		text-decoration: none;
		transition: all .3s;
		border-radius: 25px;
		font-weight: bold;
		padding: 7px 19px;
		margin-left: 59px;
		font-size: 15px;
		color: #000000;
		background: #42DF0C;

		&:hover {
			background-color: #155c00;
			color: #ffffff;
		}
	}
}